<div class="review-page">
  {% render "header" %}
  <div class="review">
    <div data-fera-widget='all_reviews' data-fera-id='fwid_34SXWzm'></div>
  
 
  </div>


</div>


<style>
  .review-page{
    background-color: #fff6e7;
  }
  .review{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    
  }

</style>